@import "underscores.less";
@import "fluid_grid.less";
@import "theme-variables.less";

body {
	background-repeat: no-repeat;
	background-position: bottom center;
}

h2 {
	font-family: @header-font;
	font-size: 32px;
}

a, a:visited {
	text-decoration: none;
	color: @color-water;
}

a:hover { color: @color-mountain }

section h2 {
	.rotate(-2deg);
}

input[type="text"], 
input[type="email"], 
input[type="url"], 
input[type="password"], 
input[type="search"],
input[type="number"], 
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
	
}

.container_12 {
	max-width: 1140px;
	margin: 0 auto;
}

#masthead {
	height: 300px;
	background-image: url('img/paper-background.png');

	.site-branding {
		background-image: url('img/solsymbol.png');
		background-repeat: no-repeat;
		background-position: 0 30%;
		height: 300px;

		.site-title {
			a {
				background-image: url('img/utblick-logo.png');
				background-repeat: no-repeat;
				width: 257px;
				height: 99px;
				display: block;
				margin: 120px auto 0 auto;
			}

			@media @phone {
				a {
					background-size: 75%;
					background-position: center;
				}
			}
		}

	}

}

#site-navigation {
	background: @color-mountain;
	.transition(opacity 0.1s ease-in-out);

	#primary-nav {
		float: right;
		position: relative;
		left: -50%;
		text-align: left;

		ul {
			list-style: none;
			position: relative;
			left: 50%;

			li {
				float: left;
				position: relative;
				padding: 10px 30px;

				a {
					font-size: 22px;
					font-family: @header-font;
					color: #FFF;
				}

				a:hover {
					color: @color-water;
				}
			}
		}
	}

}

.stickit {
	.container_12 { 
		background-image: url("img/utblick-small-blue.png");
		background-repeat: no-repeat;
		background-position: left center;
	}
}

.hero-unit {
	background-size: 100% auto;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 43%;
	padding-top: 7%;
	text-align: center;

	p {
		font-size: 18px;
		font-family: @header-font;
	}

	h3 {
		font-size: 50px;
		.rotate(-5deg);
	}

	@media @phone {
		p { font-size: 14px; }
		h3 { font-size: 20px; }
	}
}

#the-idea {
	background-image: url('img/linen-background.jpg');
	border-top: 20px solid @color-mountain;
	text-align: center;
	padding-top: 4%;
	padding-bottom: 4%;

	h2 {
		.rotate(-2deg);
	}

	h3 {
		font-size: 20px;
		line-height: 32px;
		margin-top: 20px;
		margin-bottom: 50px;
	}

	h4 {
		font-size: 18px;
	}

	.names {
		font-size: 40px;
		.rotate(-3deg);
		color: @color-mountain;
		padding-top: 60px;
	}

	@media @phone {
		img { width: 50%; }
	}
}

#the-food {
	background-image: url('img/granite-background.jpg');
	border-top: 30px solid @color-mountain;
	position: relative;
	
	padding: 40px 20px 60px;

	h2 { margin-bottom: 20px; }

	h4 {
		font-size: 18px;
		color: #7A9C4A;
		line-height: 25px;
		margin-bottom: 5px;
	}

	.food-menu {
		z-index: 200;
		position: relative;
	}

	.paper {
		background: #f6f6f6;
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
		margin: 26px auto 0;
		min-width: 80%;
		padding: 35px 50px;
		position: relative;
		width: 80%;
		z-index: 3;
	}

	.paper:before, .paper:after {
		content: "";
		height: 100%;
		position: absolute;
		width: 100%;
		z-index: -1;
		.radius(3px);
	}

	.paper:before {
		background: #f4f4f4;
		box-shadow: 0 0 8px rgba(0,0,0,0.2);
		left: -5px;
		top: 4px;
		.rotate(2.5deg);
	}

	.paper:after {
		background: #FFF;
		box-shadow: 0 0 3px rgba(0,0,0,0.2);
		right: -3px;
		top: 1px;
		.rotate(1.4deg);
	}

	@media @phone {
		.paper {
			background: #FFF;
			width: 100%;
			margin: 10px auto;
			padding: 20px 30px;
		}

		.paper:before, .paper:after {
			display: none;
		}
	}

	.food-listing {
		list-style: none;
		margin: 0 0 40px 0;
		border-top: 1px dotted #CCC;
		padding-top: 5px;
	}

	.food-item {
		margin-bottom: 20px;
		color: #4F5A5D;

		strong, em { display: block; }
		strong, .food_cost {
			font-size: 14px;
		}

		em { font-size: 12px }
		
		.food_cost {
			text-align: right;
		}
	}

}

#the-map {
	background-color: @color-mountain;
	padding-top: 40px;

	h2 {
		color: #FFF;
		margin-bottom: 20px;
		text-align: center;
	}

	#map {
		width: 100%;
		height: 500px;
	}

	#directions {

		padding: 0 0 20px 0;

		.mobile-map a {
			background-image: url('img/mobile-map.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			height: 200px;
			display: block;
			margin-bottom: 20px;
		}

		a {
			color: #FFF;
			font-size: 12px;
		}
	}
}

.widget-area {
	
	h3 {
		font-weight: bold;
		font-size: 16px;
		margin-bottom: 10px;
	}

	div,p { 
		font-size: 14px; 
		line-height: 24px;
	}

	form {
		p { margin-bottom: 10px; }
	}

	.omega {
		text-align: right;
	}

	.socialico {
		font-size: 60px;
		color: @color-fire;
		text-decoration: none;
		margin-top: 40px;
		display: inline-block;
	}

}

.widget-area-menu {
	margin-top: 60px;
}

footer {
	padding-top: 50px;
	padding-bottom: 350px;
}

.site-info { 
	font-size: 11px; 
	color: #c0c0c0;
	margin-top: 50px;

	a { 
		color: #c0c0c0; 
		background-image: url("img/law-logo.png");
		background-repeat: no-repeat;
		display: block;
		width: 90px;
		height: 9px;
		float: right;
	}
}

@media @phone {

	.container_12 {
		.grid_1,
		.grid_2,
		.grid_3,
		.grid_4,
		.grid_5,
		.grid_6,
		.grid_7,
		.grid_8,
		.grid_9,
		.grid_10,
		.grid_11,
		.grid_12 {
			display: block;
			float: none;
			clear: both;
			width: 100%;
		}

		.push_1,
		.push_2,
		.push_3,
		.push_4 {
			left: 0;
		}
	}

	#masthead {
		
		height: 150px;

		.site-branding {
			background-image: none;
			height: 150px;

			.site-title a {
				margin-top: 30px;
			}
		}
	}

}