@color-mountain: #4F5A5D;
@color-water: #6497A5;
@color-fire: #C45758;
@color-sun: #E2A12A;
@color-background: #FDFCF8;
@header-font: MicrobrewOne;
@cursive-font: 'Alex Brush', cursive;

/* MEDIA QUERIES */

@desktop: ~"only screen and (min-width: 960px) and (max-width: 1199px)";
@phone: ~"only screen and (min-width: 240px) and (max-width: 640px)";

/* UTILITIES */
.ir {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.stickit {
	position: fixed;
	top: 0;
	z-index: 400;
	.opacity(.8);
}

.mobile {
	display: none;
}

.desktop {
	display: block;
}

.center {
	text-align: center;
}

@media @phone {
	.mobile { display: block; }
	.desktop { display: none; }
}

/* MIXINS */

.rotate (@deg: 0deg) {
   -webkit-transform: 	rotate(@deg);
   -moz-transform: 		rotate(@deg);
   -o-transform: 		rotate(@deg);
   -ms-transform: 		rotate(@deg);
}

.radius (@rad: 0px) {
	-webkit-border-radius: @rad;
	-moz-border-radius: @rad;
	-o-border-radius: @rad;
	border-radius: @rad;
}

.opacity (@alpha: 1) {
	-webkit-opacity: @alpha;
	-moz-opacity: @alpha;
	-o-opacity: @alpha;
	opacity: @alpha;
}

.transition (@params) {
	
	-webkit-transition: @params;
    -moz-transition: @params;
    -ms-transition: @params;
    -o-transition: @params;
    transition: @params;
}

/* WEBFONTS */

.microbrew {
	font-family: MicrobrewOne;
	font-weight: normal;
	font-style: normal;
}

.socialico {
	font-family: Socialico;
}

.alexbrush {
	font-family: 'Alex Brush', cursive;
}